<!DOCTYPE html>
    <html>
    <head>
        <title>Realtime Markdown Viewer</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body class="container-fluid">
<h2>Hello world</h2>

    </body>
    </html>